<style>
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
</style>

*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Poppins", sans-serif;
}

body{
min-height: 100vh;
background: url(hotel.jpg) no-repeat;
background-size: cover;
display: flex;
justify-content: center;
align-items: center;
}
#add{
padding-top: 20px;
}
#mail{
padding-top: 20px;
}
#phone{
padding-top: 20px;
}
#date{
padding-top: 20px;
}

.contact-section{
width: 100%;
display: flex;
justify-content: center;
align-items: center;
}

.contact-info{
color: #000;
text-shadow: 0 0 3px #ff8300;
max-width: 500px;
line-height: 65px;
padding-left: 50px;
padding-bottom: 300px;
font size: 18px;
}

.contact-info i{
margin-right: 20px;
font-size: 25px;
float: left;
}

.contact-form{
max-width: 700px;
margin-right: 50px;
}

.contact-info, .contact-form{
flex: 1;
}

.contact-form h2{
color: #000;
text-align: flex;
font-size: 35px;
text-transform: uppercase;
text-shadow: 0 0 3px #fff;
margin-bottom: 30px;
}

.contact-form .text-box{
background: #000;
color: #fff;
border: none;
width: calc(50% - 10px);
height: 50px;
padding: 12px;
font-size: 15px;
border-radius: 5px;
box-shadow: 0 1px 1px rgba(0, 0,0, 0.1);
box-shadow: inset 0 0  10px #C0C0C0;
margin-bottom: 20px;
opacity: 0.9;
}

.contact-form .text-box:first-child{
margin-right: 15px;
}

.contact-form textarea{
background: #000;
color: #fff;
border: none;
width: 100%;
padding: 12px;
font-size: 15px;
min-height: 200px;
max-height: 400px;
resize: vertical;
border-radius: 5px;
box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
box-shadow: inset 0 0 10px #C0C0C0;
margin-bottom: 20px;
opacity: 0.9;
}

.contact-form .send-btn{
float: right;
background: #FF8C00;
color: #000000;
border: none;
width: 120px;
height: 40px;
font-size: 15px;
font-weight: 600;
text-transform: uppercase;
letter-spacing: 2px;
border-radius: 5px;
cursor: pointer;
transition: 0.3s;
transistion-property; hotel;
box-shadow: inset 0 0 10px #000000;
}

.contact-form .send-btn:hover{
background: #A9A9A9;
}

@media screen and (max-width: 950px){
.contact-section{
flex-direction: column;
}

.contact-info, .contact-form{
margin: 30px 50px;
}

.contact-form h2{
font-size: 30px;
}

.conatct-form .text-box{
width: 100%;
}
}

.alert-success{
z-index: 1;
background: #C0C0C0;
font-size: 18px;
padding: 20px 40px;
min-width: 420px;
position: fixed;
right: 0;
top: 10px;
border-left: 8px solid #C0C0C0;
border-radius: 4px;
}

.alert-error{
z-index: 1;
background: #FFA500;
font-size: 18px;
padding: 20px 40px;
min-width: 420px;
position: fixed;
right: 0;
top: 10px;
border-left: 8px solid #C0C0C0;
border-radius: 4px;
}

